.Northern {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #ee8282;
}

.Southern {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #7facff;
}
